.avatar-group {
    will-change: transform;
    perspective: 1000px;
    margin-bottom: rem(32);
    overflow: hidden;
    width: rem(200);
    height: rem(200);
    border-radius: 100%;

    @include bp($m) {
        margin-bottom: 0;
    }
}

.avatar-group__inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.avatar-group:hover,
.avatar-group:focus {
    .avatar-group__inner {
        transform: rotateY(180deg);
    }
}

.avatar-group__front,
.avatar-group__back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.avatar-group__back {
    transform: rotateY(180deg);
}

.avatar {
    width: rem(200);
    height: rem(200);
    border-radius: 100%;
    border: 5px solid var(--clr-grey);
}
