.avatar-group {
    margin: rem(-100) auto 0 auto;
    padding-bottom: rem(100);
}

.avatar {
    width: rem(200);
    height: rem(200);
    border-radius: 100%;
    overflow: hidden;
    border: 5px solid var(--clr-grey);
    display: block;
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translateX(-180px);

    &--alt {
        z-index: 1;
        transform: translateX(-20px);
    }
}
