.contentarea {
    padding: rem(80) $gutter;
    margin: 0 auto;
    display: block;

    p + h2,
    p + h3 {
        padding-top: rem(32);
    }
}

.contentarea--list-item {
    padding: 0;
    margin-bottom: rem(40);
}

.contentarea--list-item:first-child {
    margin-top: rem(40);
}
