.sidebar {
    padding: 2vh;
    color: white;
    flex: 1 1 0;
}

.sidebar__avatar {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    overflow: hidden;
    border: 5px solid var(--clr-grey);
}

.sidebar__list {
    list-style-type: none;
    margin: 2rem 0 2rem 0;
    padding: 0;
    font-size: 19px;
}

.sidebar__list-item {
    text-align: center
}
