$clr-blue: #0D3CFB;
$clr-yellow: #EEC643;
$clr-black: #141414;
$clr-grey: #EEF0F2;
$clr-fire: #DB5A42;
$clr-text: $clr-black;

$clr-fire-gradient: linear-gradient(45deg, $clr-fire 0%, $clr-yellow 100%);
