@import "./font";
@import "./tools";
@import "./vars";

.editor-styles-wrapper .wp-block {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    line-height: 1.45;
    color: var(--clr-text);
    max-width: var(--content_width);

    // Inherit typographic styling
    @import "./typography";

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    img {
        max-width: 100%;
        vertical-align: middle;
    }

}
