# Misc
*.log
.DS_Store

# Never include database backups
/db_backups

# Never retain root-level vendor packages
/vendor
/wordpress
node_modules

# Never retain uploaded media
app/uploads

# Always retain themes and language packs
!app/themes
!app/languages

# Never retain WP themes
app/themes/twenty*

# Never include plugins
app/plugins/*
!app/plugins/ash-mods.php

# Never retain config files
.env
/.terraform
