/* playfair-display-regular - latin */
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Playfair Display"), url("./fonts/playfair-display-v22-latin-regular.woff2") format("woff2"), url("./fonts/playfair-display-v22-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* playfair-display-italic - latin */
@font-face {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("Playfair Display"), url("./fonts/playfair-display-v22-latin-italic.woff2") format("woff2"), url("./fonts/playfair-display-v22-latin-italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ubuntu-mono-regular - latin */
@font-face {
  font-family: "Ubuntu Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Ubuntu Mono"), url("./fonts/ubuntu-mono-v10-latin-regular.woff2") format("woff2"), url("./fonts/ubuntu-mono-v10-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
.editor-styles-wrapper .wp-block {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  line-height: 1.45;
  color: #141414;
  max-width: 960px;
  color: #141414;
}
.editor-styles-wrapper .wp-block p,
.editor-styles-wrapper .wp-block ul, .editor-styles-wrapper .wp-block ol, .editor-styles-wrapper .wp-block textarea, .editor-styles-wrapper .wp-block input {
  margin-bottom: 1.3em;
  font-size: 1.414rem;
}
.editor-styles-wrapper .wp-block .date,
.editor-styles-wrapper .wp-block .comment-count {
  margin-bottom: 0;
  font-size: 1.1em;
}
.editor-styles-wrapper .wp-block .wp-block-code {
  margin: 1.3em 0;
  font-size: 1.414em;
  display: block;
  background: none;
  white-space: pre;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  max-width: 100%;
  min-width: 100px;
  padding: 0 0 0 36px;
  position: relative;
}
.editor-styles-wrapper .wp-block .wp-block-code:before {
  text-align: center;
  content: "$";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  line-height: 1;
  padding-top: 10px;
  font-size: 1.2rem;
  width: 36px;
  background: linear-gradient(45deg, #DB5A42 0%, #EEC643 100%);
  color: black;
  font-weight: bold;
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}
.editor-styles-wrapper .wp-block .wp-block-code code {
  padding: 2px 12px 4px 12px;
  border-top-left-radius: 0;
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  border-bottom-left-radius: 0;
}
.editor-styles-wrapper .wp-block .contentarea code {
  color: white;
  background: black;
  word-wrap: break-word;
  box-decoration-break: clone;
}
.editor-styles-wrapper .wp-block .contentarea code a {
  color: inherit;
}
.editor-styles-wrapper .wp-block .contentarea code a:focus, .editor-styles-wrapper .wp-block .contentarea code a:hover {
  color: yellow;
}
.editor-styles-wrapper .wp-block code {
  font-family: "Ubuntu Mono", monospace;
  font-size: inherit;
  border-radius: 0.2rem;
  padding: 2px 6px;
}
.editor-styles-wrapper .wp-block p code {
  font-size: 1em;
}
.editor-styles-wrapper .wp-block h1, .editor-styles-wrapper .wp-block h2, .editor-styles-wrapper .wp-block h3, .editor-styles-wrapper .wp-block h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}
.editor-styles-wrapper .wp-block h1 {
  margin-top: 0;
  font-size: 3.998em;
}
.editor-styles-wrapper .wp-block h2 {
  font-size: 2.827em;
}
.editor-styles-wrapper .wp-block h3 {
  font-size: 1.999em;
}
.editor-styles-wrapper .wp-block a,
.editor-styles-wrapper .wp-block a:hover,
.editor-styles-wrapper .wp-block a:focus {
  color: #0D3CFB;
}
.editor-styles-wrapper .wp-block header p {
  font-size: 1.66em;
}
.editor-styles-wrapper .wp-block ul, .editor-styles-wrapper .wp-block ol {
  padding-left: 1em;
  margin-left: 1em;
  margin-bottom: 1em;
}
.editor-styles-wrapper .wp-block .unset-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.editor-styles-wrapper .wp-block * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.editor-styles-wrapper .wp-block img {
  max-width: 100%;
  vertical-align: middle;
}
