.avatar--centered {
    text-align: center;

    .avatar__wrap {
        margin: 0 auto;
    }
}

.avatar__wrap {
    margin-bottom: rem(32);
    overflow: hidden;
    width: rem(204);
    height: rem(204);
    padding: rem(2);
    background: white;
    border: rem(2) solid white;
    border-radius: 100%;


    @include bp($m) {
        margin-bottom: 0;
    }

    @include bp($l) {
        width: rem(306);
        height: rem(306);
    }
}

.avatar__image {
    width: rem(200);
    height: rem(200);
    border-radius: 100%;

    @include bp($l) {
        width: rem(300);
        height: rem(300);
    }
}
