.footer {
    font-size: rem(16);
    margin: 2vh auto;
    padding: 0 $gutter;
}

.footer__sign {
    width: 100%;
    margin-top: rem(14);
    font-size: rem(14);
}

.footer__nav {
    flex: 1;
}

.footer__heading {
    font-size: rem(18);
}

.footer__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer__list-item {
    font-size: rem(16);
    margin-bottom: rem(6);
}

.footer__list-link {

}
