.footer {
  font-size: rem(16);
  margin: 2vh auto;
  padding: 5vh $gutter;
}

.footer__sign {
  width: 100%;
  margin-top: rem(14);
  font-size: rem(14);
}

.footer__content {
  margin-left: -$gutter;

  @include bp($m) {
    display: flex;
    flex-wrap: wrap;
  }
}

.footer__nav {
  padding-left: $gutter;
  flex: 1;

  @include bp($m) {
    border-right: rem(2) solid var(--clr-grey);

    &:last-child {
      border-right: 0;
    }
  }

  &--posts {
    flex: 2;
  }
}

.footer__heading {
  text-transform: uppercase;
  letter-spacing: rem(4);
  line-height: 1;
  font-weight: bold;
  font-size: rem(18);
}

.footer__list {
  list-style-type: none;
  margin: 0 0 5vh 0;
  padding: 0;
}

.footer__list-item {
  font-size: rem(15);
  margin-bottom: 0;
  padding: rem(4) 0;
}

.footer-list-label {
  font-weight: bold;
  display: block;
}

.footer__list-link {
  display: inline-block;
}
