.site-header {
  background-color: white;
  padding: rem(12) $gutter rem(8) $gutter;

  @include bp($l) {
    padding: rem(20) $gutter rem(16) $gutter;
  }
}

.site-header__help {
  margin-bottom: 0;

  @include bp($m) {
    font-size: rem(20);
  }

  @include bp($l) {
    font-size: rem(24);
  }

  a {
    color: inherit
  }

  a:hover, a:focus {
    color: white;
  }
}

.site-header__wrapper {

  @include bp($l) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
