.masthead {
    background: var(--clr-grey);
    position: relative;
    padding: 0 $gutter;
    color: var(--clr-black);
    overflow: hidden;
}

.masthead__inner {
    padding: rem(32) 0;
    max-width: var(--content_width);
    z-index: 1;
    width: 100%;
    position: relative;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    @include bp($m) {
        padding: rem(100);
    }

    @include bp($l) {
        padding: rem(100);
    }

    .avatar-group {
        flex: 1 0 rem(200);
    }
}

.masthead--slim .masthead__inner {
    padding: rem(60) 0;
    display: block;
}

.masthead__copy {
    font-weight: medium;
    text-align: center;
}

.masthead__heading {
    margin-top: $gutter;

    @include bp($m) {
        font-size: rem(68);
    }
}

.masthead__blurb p {
    margin-bottom: 0;

    @include bp($m) {
        &:last-child {
            margin-bottom: $gutter;
        }
        font-size: rem(22);
        line-height: 1.5;
    }

    @include bp($l) {
        font-size: rem(28);
    }
}

.masthead__back {
    font-size: rem(14);
    margin-bottom: $gutter;
}

.masthead__connect {
    display: inline-block;
    font-size: rem(16);
    padding: rem(8) $gutter;
    margin: $gutter 0 0 0;
    background: var(--clr-grey);
    border-radius: rem(8);
    border: rem(2) solid var(--clr-black);
    color: var(--clr-black);
    font-weight: bold;
    text-decoration: none;

    &:hover, &:focus {
        text-decoration: none;
        background: white;
        border-color: var(--clr-blue);
        color: var(--clr-black);
        box-shadow: 0 rem(2) 0 0 var(--clr-blue);
    }

    img {
        width: rem(20);
        margin-top: rem(-4);
    }

    span {
        margin-left: rem(6);
    }
}

.masthead__connect--steam {
    background: #171d25;
    color: var(--clr-grey);

    &:hover, &:focus {
        text-decoration: none;
        background: #171d25;
        border-color: var(--clr-blue);
        color: var(--clr-grey);
        box-shadow: 0 rem(2) 0 0 var(--clr-blue);
    }
}

.masthead__meta {
    display: flex;
    margin-bottom: $gutter;
    margin-left: -$gutter;

    p {
        padding-left: $gutter;
    }
}

.masthead__tags {
    font-size: rem(12);

    a {
        color: inherit;
        text-decoration: underline;
    }
}

.masthead__shim {
    display: none;
    width: 80vh;
    height: 80vh;
    background: white;
    position: absolute;
    border-radius: 100%;

    &--top-left {
        top: -33vh;
        left: -33vh;
    }
    &--bottom-right {
        bottom: -33vh;
        right: -33vh;
    }

    @include bp($m) {
        display: block;
    }

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        left: 50%;
        width: 60vh;
        height: 60vh;
        background: var(--clr-grey);
        border-radius: 100%;
    }
}
