$content_width: rem(960) !default;
$radii: rem(12) !default;

$s: rem(360);
$m: rem(768);
$l: rem(1366);
$xl: rem(1920);

$gutter: rem(16);

:root {
    // Colours
    --clr-blue: #175073;
    --clr-yellow: #F2EA79;
    --clr-orange: #F2C12E;
    --clr-peach: #F2C063;
    --clr-black: #262001;
    --clr-green: #3F8C7E;
    --clr-papyrus: #f1edd9;
    --clr-grey: #ebebeb;
    --clr-text: var(--clr-black);

    // Variables
    --content_width: #{$content_width};
    --radii: #{$radii};
}
