define( 'WP_REDIS_PORT', '${redis.port}' );
define( 'WP_REDIS_DISABLED', ${redis.disabled} );
define( 'WP_REDIS_HOST', '${redis.host}' );
define( 'WP_HOME', 'https://${domain}' );
define( 'WP_SITEURL', 'https://${domain}' );"